In [1]:
import glob
import pandas as pd
import numpy as np
from datetime import datetime

## Load in Weather data and Clean

**All 50 csv files are in the directory below. The name of each file is the state name and they are in alphabetical order.**

In [27]:
path = 'C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Weather'
csvFiles = glob.glob(path + '/*.csv')

**I create a list with the name of the states in alphabetical order in order to tag each of of the dataset with the correct state**

In [28]:
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
          'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
          'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
          'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina',
          'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
          'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',
          'Wisconsin', 'Wyoming']

**Read in all 50 csv files**

In [29]:
i = 0
for file in csvFiles:
    if i == 0:
        df = pd.read_csv(file)
        df['State'] = states[i]
        i += 1
        continue
    df2 = pd.read_csv(file)
    df2['State'] = states[i]
    df = pd.concat([df, df2])
    i += 1

In [30]:
df.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,...,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX,Unnamed: 20,State
0,1,0,199401,5.31,40.8,0.15,-0.82,0.42,-0.25,3,...,-0.13,-0.09,0.15,-0.54,-0.71,-0.06,30.8,50.9,NaN,Alabama
1,1,0,199402,5.08,50.3,0.05,-0.82,-0.24,-0.31,8,...,0.14,-0.17,0.12,-0.51,-0.57,-0.20,38.3,62.2,NaN,Alabama
2,1,0,199403,7.25,55.8,0.27,0.27,0.67,0.27,23,...,0.41,0.38,0.29,-0.11,-0.44,0.14,42.3,69.2,NaN,Alabama
3,1,0,199404,4.40,64.7,-0.22,-0.22,-0.67,-0.22,67,...,0.33,0.24,0.06,0.21,-0.30,0.27,51.3,78.2,NaN,Alabama
4,1,0,199405,3.20,68.4,-0.39,-0.39,-0.58,-0.39,131,...,-0.34,0.07,-0.13,0.01,-0.40,0.38,56.2,80.6,NaN,Alabama

**Select only the relevant columns for analysis**

In [29]:
df = df.loc[:,('State', 'YearMonth', '   TAVG', '   TMIN', '   TMAX')]
df.head()

     State  YearMonth     TAVG     TMIN     TMAX
0  Alabama     199401     40.8     30.8     50.9
1  Alabama     199402     50.3     38.3     62.2
2  Alabama     199403     55.8     42.3     69.2
3  Alabama     199404     64.7     51.3     78.2
4  Alabama     199405     68.4     56.2     80.6

**Check datatypes for each column**

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14112 entries, 0 to 287
Data columns (total 5 columns):
State        14112 non-null object
YearMonth    14112 non-null int64
   TAVG      14112 non-null float64
   TMIN      14112 non-null float64
   TMAX      14112 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 661.5+ KB

**Convert YearMonth to datetime format**

In [31]:
df['YearMonth'] = df['YearMonth'].astype(str)

In [32]:
df['Date'] = pd.to_datetime(df['YearMonth'], format = '%Y%m')

In [33]:
year = []
month = []

for date in df.loc[:, 'YearMonth']:
    year.append(date[:4])
    month.append(date[4:6])

**Store Year and Month in separate columns**

In [34]:
df['Year'] = np.array(year)
df['Month'] = np.array(month)

In [35]:
del df['YearMonth']

**Fix data type for Year and Month**

In [36]:
df['Year'] = df['Year'].astype('int64')
df['Month'] = df['Month'].astype('int64')

df.head()

     State     TAVG     TMIN     TMAX       Date  Year  Month
0  Alabama     40.8     30.8     50.9 1994-01-01  1994      1
1  Alabama     50.3     38.3     62.2 1994-02-01  1994      2
2  Alabama     55.8     42.3     69.2 1994-03-01  1994      3
3  Alabama     64.7     51.3     78.2 1994-04-01  1994      4
4  Alabama     68.4     56.2     80.6 1994-05-01  1994      5

**Save cleaned data to new file**

In [37]:
weather = df.copy()

In [38]:
weather.to_csv('Weather.csv', index = False)

## Read Income data and Clean

In [44]:
df = pd.read_excel('C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Income/Income.xls', skiprows = 4, 
              usecols =[0,1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69],
             skip_footer = 56)
df.head()

,State,2016,2015,2014,2013 (39),2013 (38),2012,2011,2010 (37),2009 (36),...,1993 (23),1992 (22),1991,1990,1989,1988,1987 (21),1986,1985 (20),1984 (19)
0,NaN,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,...,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome,Median\nincome
1,United States,59039,56516,53657,53585,51939,51017,50054,49276,49777,...,31241,30636,30126,29943,28906,27225,26061,24897,23618,22415
2,Alabama,47221,44509,42278,47320,41381,43464,42590,40933,39980,...,25082,25808,24346,23357,21284,19948,19734,19132,18333,17310
3,Alaska,75723,75112,67629,72472,61137,63648,57431,57848,61604,...,42931,41802,40612,39298,36006,33103,33233,31356,34782,32356
4,Arizona,57100,52248,49254,52611,50602,47044,48621,46896,45739,...,30510,29358,30737,29224,28552,26435,26749,25500,23877,21425

**There are two columns for 2013. There is no documentation for the differences. I will remove the one with the (39) for this analysis**

In [45]:
del df['2013 (39)']

**Delete first row**

In [46]:
df = df.drop(0)

**Melt the dataframe to have the year columns be stored as one variable**

In [47]:
df = pd.melt(frame = df, id_vars = 'State', var_name = 'Year1', value_name = 'Median_Income')
df.head()

           State Year1 Median_Income
0  United States  2016         59039
1        Alabama  2016         47221
2         Alaska  2016         75723
3        Arizona  2016         57100
4       Arkansas  2016         45907

**Fix data type and convert to datetime**

In [49]:
df['Year1'] = df['Year1'].astype(str)

In [50]:
Year = []
for year in df['Year1']:
    Year.append(year[:4])

In [51]:
df['Year'] = np.array(Year).astype('int64')
df['Median_Income'] = df['Median_Income'].astype(float)

In [52]:
del df['Year1']

In [53]:
df['Date'] = pd.to_datetime(df['Year'], format = '%Y')

In [54]:
df.head()

           State  Median_Income  Year       Date
0  United States        59039.0  2016 2016-01-01
1        Alabama        47221.0  2016 2016-01-01
2         Alaska        75723.0  2016 2016-01-01
3        Arizona        57100.0  2016 2016-01-01
4       Arkansas        45907.0  2016 2016-01-01

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 4 columns):
State            1716 non-null object
Median_Income    1716 non-null float64
Year             1716 non-null int64
Date             1716 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 53.7+ KB

**Save cleaned data to file**

In [56]:
Income = df.copy()

In [57]:
Income.to_csv('Income.csv', index = False)

## Read Population and Clean

In [51]:
df = pd.read_csv('C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Population/Population.txt', header = None)

In [52]:
df.head()

                            0
0  1969AL01001991910000000159
1  1969AL01001991910100000657
2  1969AL01001991910200001137
3  1969AL01001991910300000956
4  1969AL01001991910400000721

**Create new columns to store each variable of interest**

In [53]:
Year = []
State_Abbrev = []
Race = []
Sex = []
Age = []
Population = []

for row in df[0]:
    Year.append(row[:4])
    State_Abbrev.append(row[4:6])
    Race.append(row[13])
    Sex.append(row[15])
    Age.append(row[16:18])
    Population.append(row[18:])

In [54]:
df['Year'] = np.array(Year)
df['State_Abbrev'] = np.array(State_Abbrev)
df['Race'] = np.array(Race)
df['Sex'] = np.array(Sex)
df['Age'] = np.array(Age)
df['Population'] = np.array(Population)

In [55]:
del df[0]

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14191291 entries, 0 to 14191290
Data columns (total 6 columns):
Year            object
State_Abbrev    object
Race            object
Sex             object
Age             object
Population      object
dtypes: object(6)
memory usage: 649.6+ MB

**Convert Year to int variable**

In [57]:
df['Year'] = df['Year'].astype('int64')

In [58]:
df.head()

   Year State_Abbrev Race Sex Age Population
0  1969           AL    1   1  00   00000159
1  1969           AL    1   1  01   00000657
2  1969           AL    1   1  02   00001137
3  1969           AL    1   1  03   00000956
4  1969           AL    1   1  04   00000721

**Subset years to only include 1994 and up**

In [59]:
df = df[df.loc[: , 'Year'] >= 1994]

**Change age type to int**

In [60]:
df['Age'] = df['Age'].astype('int64')

In [1]:
df.head()

NameError: name 'df' is not defined

**Create new column to divide the ages into four groups**

In [62]:
df['Age_Group'] = np.where(df['Age'] <= 4, 'Child/Teen', 
                  np.where(df['Age'] <= 8, 'Young Adult', 
                  np.where(df['Age'] <= 12, 'Older Adult', '60+')))

**Change population type to int**

In [63]:
df['Population'] = df['Population'].astype('int64')

**Group by Year, State, Race, Sex, and Age group to population for each group. Will save this to a file to be able to select how to divide the population for visualizations later in the analysis**

In [64]:
df.groupby(['Year', 'State_Abbrev', 'Race', 'Sex', 'Age_Group'])['Population'].sum()

Year  State_Abbrev  Race  Sex  Age_Group
1994  AK            1     1    60+             16243
                               Child/Teen      74405
                               Older Adult     66529
                               Young Adult     85065
                          2    60+             16091
                               Child/Teen      68444
                               Older Adult     55786
                               Young Adult     74111
                    2     1    60+               410
                               Child/Teen       5321
                               Older Adult      2098
                               Young Adult      5969
                          2    60+               437
                               Child/Teen       5263
                               Older Adult      1704
                               Young Adult      4927
                    3     1    60+              4047
                               Child/Teen      25622
                               Older Adult     11076
                               Young Adult     19408
                          2    60+              4948
                               Child/Teen      24548
                               Older Adult     11917
                               Young Adult     18939
      AL            1     1    60+            244302
                               Child/Teen     414002
                               Older Adult    384838
                               Young Adult    472679
                          2    60+            343127
                               Child/Teen     390725
                                               ...
2016  WV            3     1    Older Adult      2658
                               Young Adult      4042
                          2    60+              2117
                               Child/Teen       2559
                               Older Adult      2992
                               Young Adult      3652
      WY            1     1    60+             59860
                               Child/Teen      72905
                               Older Adult     70050
                               Young Adult     77990
                          2    60+             63029
                               Child/Teen      68579
                               Older Adult     66957
                               Young Adult     71295
                    2     1    60+               748
                               Child/Teen       1932
                               Older Adult      1136
                               Young Adult      2142
                          2    60+               604
                               Child/Teen       1676
                               Older Adult       721
                               Young Adult      1334
                    3     1    60+              1254
                               Child/Teen       4404
                               Older Adult      2524
                               Young Adult      3997
                          2    60+              1603
                               Child/Teen       4230
                               Older Adult      2668
                               Young Adult      3863
Name: Population, Length: 28176, dtype: int64

**Group by Year and State and find state aggregates of population to combine with the main dataset**

In [65]:
Pop = df.groupby(['Year', 'State_Abbrev'])[['Population']].sum()

In [66]:
Pop = pd.DataFrame(Pop.to_records())

In [67]:
Pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 3 columns):
Year            1174 non-null int32
State_Abbrev    1174 non-null object
Population      1174 non-null int64
dtypes: int32(1), int64(1), object(1)
memory usage: 23.0+ KB

**Population is the state aggregated population. Population2 is the more detailed state aggregated population**

In [68]:
Population = Pop.copy()

In [69]:
Population2 = df.copy()

**Write to csv file**

In [70]:
Population.to_csv('Population.csv', index = False)

In [71]:
Population2.to_csv('Population2.csv', index = False)

## Read Storm_Events and Clean

In [72]:
path = 'C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Storm_Events'
csvFiles = glob.glob(path + '/*.csv')

**Read in all data files**

In [73]:
i = 0

for file in csvFiles:
    
    if i == 0:
       
        df = pd.read_csv(file, low_memory = False)
        i += 1
        continue
    
    df2 = pd.read_csv(file, low_memory = False)
    df = pd.concat([df, df2])
    i += 1

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1218787 entries, 0 to 56001
Data columns (total 51 columns):
BEGIN_YEARMONTH       1218787 non-null int64
BEGIN_DAY             1218787 non-null int64
BEGIN_TIME            1218787 non-null int64
END_YEARMONTH         1218787 non-null int64
END_DAY               1218787 non-null int64
END_TIME              1218787 non-null int64
EPISODE_ID            1182699 non-null float64
EVENT_ID              1218787 non-null int64
STATE                 1218786 non-null object
STATE_FIPS            1218786 non-null float64
YEAR                  1218787 non-null int64
MONTH_NAME            1218787 non-null object
EVENT_TYPE            1218787 non-null object
CZ_TYPE               1218787 non-null object
CZ_FIPS               1218787 non-null int64
CZ_NAME               1218787 non-null object
WFO                   1182699 non-null object
BEGIN_DATE_TIME       1218787 non-null object
CZ_TIMEZONE           1218787 non-null object
END_DATE_TIME         1218787 non-null object
INJURIES_DIRECT       1218787 non-null int64
INJURIES_INDIRECT     1218787 non-null int64
DEATHS_DIRECT         1218787 non-null int64
DEATHS_INDIRECT       1218787 non-null int64
DAMAGE_PROPERTY       733128 non-null object
DAMAGE_CROPS          621011 non-null object
SOURCE                1069073 non-null object
MAGNITUDE             641132 non-null float64
MAGNITUDE_TYPE        310173 non-null object
FLOOD_CAUSE           60715 non-null object
CATEGORY              221 non-null float64
TOR_F_SCALE           30783 non-null object
TOR_LENGTH            64758 non-null float64
TOR_WIDTH             64758 non-null float64
TOR_OTHER_WFO         1730 non-null object
TOR_OTHER_CZ_STATE    1730 non-null object
TOR_OTHER_CZ_FIPS     1730 non-null float64
TOR_OTHER_CZ_NAME     1730 non-null object
BEGIN_RANGE           558215 non-null float64
BEGIN_AZIMUTH         532721 non-null object
BEGIN_LOCATION        778770 non-null object
END_RANGE             557838 non-null float64
END_AZIMUTH           522356 non-null object
END_LOCATION          746701 non-null object
BEGIN_LAT             683018 non-null float64
BEGIN_LON             683019 non-null float64
END_LAT               681931 non-null float64
END_LON               681932 non-null float64
EPISODE_NARRATIVE     935830 non-null object
EVENT_NARRATIVE       625560 non-null object
DATA_SOURCE           1218787 non-null object
dtypes: float64(13), int64(13), object(25)
memory usage: 483.5+ MB

In [75]:
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,199403,27,1132,199403,27,1132,NaN,10314418,ALABAMA,1.0,...,0.0,NaN,NaN,34.43,-85.98,34.47,-85.78,NaN,A tornado struck near the Grove Oak area in th...,CSV
1,199405,15,1930,199405,15,1930,NaN,10314419,ALABAMA,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sheriff's Department reported numerous large t...,CSV
2,199406,26,2220,199406,26,2220,NaN,10314420,ALABAMA,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"High wind damaged eight businesses, two homes,...",CSV
3,199405,15,1347,199405,15,1347,NaN,10314036,ALABAMA,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Three-quarter inch hail was reported by state ...,CSV
4,199403,27,1550,199403,27,1550,NaN,10314044,ALABAMA,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Numerous weather events were reported with a t...,CSV

**Include only the relevant columns**

In [76]:
df = df.loc[:, ['BEGIN_YEARMONTH', 'STATE', 'YEAR', 'EVENT_TYPE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT',
                'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS']]

**Change to string type and extract the month as a separate column**

In [77]:
df['BEGIN_YEARMONTH'] = df['BEGIN_YEARMONTH'].astype(str)

In [78]:
Month = []

for date in df.loc[:, 'BEGIN_YEARMONTH']:
    Month.append(date[4:6])
    
df['Month'] = np.array(Month).astype('int64')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1218787 entries, 0 to 56001
Data columns (total 11 columns):
BEGIN_YEARMONTH      1218787 non-null object
STATE                1218786 non-null object
YEAR                 1218787 non-null int64
EVENT_TYPE           1218787 non-null object
INJURIES_DIRECT      1218787 non-null int64
INJURIES_INDIRECT    1218787 non-null int64
DEATHS_DIRECT        1218787 non-null int64
DEATHS_INDIRECT      1218787 non-null int64
DAMAGE_PROPERTY      733128 non-null object
DAMAGE_CROPS         621011 non-null object
Month                1218787 non-null int64
dtypes: int64(6), object(5)
memory usage: 111.6+ MB

**Change display settings to be able to view all the counts to determine how to clean column data**

In [80]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 1000)

In [81]:
df['DAMAGE_PROPERTY'].value_counts()

0.00K                 382247
0                      42235
5K                     21885
5.00K                  20242
1.00K                  19382
10.00K                 16704
10K                    15526
2.00K                  13660
1K                     11061
2K                     10842
50K                     8668
0K                      8533
3.00K                   7537
25.00K                  7308
50.00K                  7087
20K                     6622
15.00K                  6557
3K                      6442
20.00K                  6430
15K                     5974
25K                     5619
100.00K                 4787
0.50K                   4610
.5K                     3868
100K                    3759
30K                     2958
30.00K                  2926
4.00K                   2398
8.00K                   1990
4K                      1953
75.00K                  1917
250.00K                 1867
8K                      1824
500.00K                 1734
75K                     1719
500K                    1712
200.00K                 1634
40K                     1597
150.00K                 1472
40.00K                  1455
.1K                     1360
150K                    1335
200K                    1310
1.50K                   1270
6.00K                   1235
1M                      1218
250K                    1177
1.00M                   1155
7.00K                   1042
12.00K                   974
6K                       963
.1M                      939
35.00K                   929
.01K                     861
12K                      795
300.00K                  795
1.5K                     794
35K                      791
7K                       780
2.5K                     702
2.50K                    677
60.00K                   676
300K                     662
60K                      619
0.10K                    604
80K                      602
2M                       552
2.00M                    467
.5M                      456
.05K                     446
0.25K                    434
.2K                      427
5M                       421
400.00K                  409
750.00K                  395
80.00K                   386
70K                      370
.01M                     362
0.20K                    359
0.90K                    350
.2M                      346
.75K                     328
400K                     325
125.00K                  319
1.5M                     313
1.50M                    308
.25K                     294
125K                     292
70.00K                   291
0.75K                    290
45.00K                   288
5.00M                    287
45K                      286
3.00M                    277
3M                       267
18K                      264
7.50K                    263
18.00K                   233
1.25K                    233
.25M                     231
.02M                     215
350.00K                  212
10M                      211
600.00K                  209
9.00K                    206
750K                     206
10.00M                   205
.3M                      199
.05M                     195
350K                     194
9K                       186
7.5K                     183
.3K                      183
.15M                     177
0.30K                    177
3.5K                     177
120.00K                  168
90K                      148
4.00M                    147
2.5M                     147
4.50K                    145
4M                       140
120K                     137
600K                     137
2.50M                    130
700.00K                  123
90.00K                   122
11K                      122
800.00K                  121
800K                     121
55K                      121
65.00K                   118
55.00K                   117
16.00K                   116
6M                       115
65K                      112
175K                     111
1.2M                     111
22K                      106
14K                      105
20M                      104
175.00K                  103
0.60K                     99
.4M                       99
0.50M                     98
14.00K                    96
13K                       93
13.00K                    92
17K                       91
0.70K                     87
700K                      87
1.20M                     85
450K                      84
85K                       83
.4K                       83
.8K                       82
50M                       81
50.00M                    80
16K                       79
11.00K                    79
1.25M                     77
1000.00K                  76
450.00K                   72
110.00K                   71
22.00K                    70
110K                      70
20.00M                    69
8M                        69
15M                       68
135.00K                   68
3.50K                     68
1.1M                      66
0.80K                     66
.03M                      65
15.00M                    63
32.79K                    61
900.00K                   61
4.5K                      61
33K                       61
7M                        60
17.00K                    59
24.00K                    59
0.01K                     59
500                       58
3.5M                      58
7.00M                     58
25M                       57
.6K                       57
.75M                      56
225.00K                   56
85.00K                    56
0.40K                     55
6.00M                     55
3.50M                     55
25.00M                    52
21K                       52
5.88K                     51
20.4K                     51
24.9K                     51
12.65M                    51
1.3M                      50
100.00M                   49
.98M                      49
23K                       48
130.00K                   47
75.11K                    47
8.00M                     46
28K                       45
.8M                       45
1.4M                      45
.02K                      45
1.7M                      44
K                         44
2.05K                     44
1.10M                     44
275K                      43
12.50K                    42
1.30M                     42
.18M                      41
225K                      41
.6M                       41
1.8M                      41
900K                      40
27K                       40
130K                      40
1.80K                     39
140K                      38
1.6M                      38
23.00K                    38
1.53M                     38
.7M                       38
100M                      37
28.00K                    37
.15K                      37
4.5M                      37
13.9K                     36
4.50M                     36
160.00K                   35
160K                      35
1.20K                     35
180.00K                   35
12.5K                     35
12.00M                    34
40M                       34
275.00K                   34
30M                       34
9M                        34
375.00K                   33
24K                       33
550.00K                   33
140.00K                   33
3.33K                     33
650K                      33
1.40M                     32
19K                       32
95K                       32
12M                       32
.7K                       32
1.75M                     31
2.25K                     31
21.00K                    31
30.00M                    30
1.80M                     30
650.00K                   30
0M                        30
.9K                       30
1.2K                      30
32.00K                    30
.12M                      29
2.2M                      28
95.00K                    28
5.54M                     27
1.60M                     27
74.07K                    27
180K                      27
5.55K                     27
16.67K                    27
.11K                      26
0.00M                     26
550K                      26
.57M                      26
728.55K                   25
2.25M                     25
0.10M                     25
27.00K                    25
11M                       24
20.83K                    24
.22M                      23
325K                      23
01                        23
5.50K                     23
8.5K                      23
2.08K                     23
2.1M                      23
.64M                      23
40.00M                    23
325.00K                   22
5.5K                      22
10.45K                    22
2.10M                     22
105.00K                   22
0.25M                     21
375K                      21
1.75K                     21
115K                      21
1.70M                     21
.04M                      21
2.20M                     21
5000.00K                  21
11.00M                    21
.9M                       21
26K                       21
26.00K                    20
36.00K                    20
240.00K                   20
.06K                      20
850K                      20
1.54M                     19
210.00K                   19
2.4M                      19
9.00M                     19
660.00K                   19
100                       19
850.00K                   19
32K                       18
0.75M                     18
33.00K                    18
220.00K                   18
2.70K                     18
135K                      18
1.1K                      17
48.00K                    17
35.00M                    17
18M                       17
1.90M                     17
34K                       17
6.39M                     17
1.9M                      16
93.75K                    16
2.8M                      16
280.00K                   16
6.67K                     16
220K                      16
150.00M                   16
260.00K                   16
29K                       16
170.00K                   16
240K                      16
.31K                      16
0.20M                     16
.35M                      16
14M                       16
42K                       15
38K                       15
.13M                      15
6.50K                     15
105K                      15
15.63K                    15
1.36M                     15
2.70M                     15
170K                      15
2.40M                     15
2.86K                     15
200                       14
.22K                      14
8.50M                     14
165K                      14
33.33K                    14
3.2M                      14
7.5M                      14
13M                       14
2.30M                     14
190K                      14
75.00M                    14
5.5M                      14
2.3M                      14
71.43K                    14
38.00K                    14
2.14K                     14
6.50M                     14
41K                       14
37K                       13
7.69K                     13
5.50M                     13
500.00M                   13
210K                      13
3.3M                      13
6.25K                     13
115.00K                   13
.85K                      13
215.00K                   13
250                       13
0.15K                     12
3.10M                     12
300                       12
200.00M                   12
19.00K                    12
14.00M                    12
5.55M                     12
3.60K                     12
6.5K                      12
44.00K                    12
2.7M                      12
.21K                      12
4.2M                      12
165.00K                   12
3.25K                     12
230.00K                   12
3.6M                      12
727.00K                   12
190.00K                   12
320.00K                   12
0.05K                     12
1.3K                      12
2.60M                     12
2.80M                     12
420.00K                   11
4.4M                      11
4.44M                     11
3.8M                      11
145.00K                   11
48K                       11
200M                      11
11.82K                    11
3.30M                     11
4.54K                     11
22.73K                    11
42.00K                    11
330.00K                   11
60.00M                    11
6.5M                      11
31K                       11
1.8K                      11
56.00K                    11
4.545454545454546K        11
.09K                      11
380K                      10
36K                       10
425K                      10
3.12K                     10
.08M                      10
7.50M                     10
34.00K                    10
5.56K                     10
8.5M                      10
53.00K                    10
.45M                      10
17M                       10
80M                       10
.76K                      10
13.00M                    10
46K                       10
481.00K                   10
16.00M                    10
60M                       10
750                        9
70.00M                     9
360.00K                    9
45.00M                     9
31.00K                     9
58K                        9
1.6K                       9
5.8M                       9
37.5K                      9
425.00K                    9
02                         9
4.8M                       9
05                         9
1.4K                       8
3.80M                      8
129.00K                    8
.23M                       8
9.5M                       8
19.94K                     8
400.00M                    8
8.50K                      8
950.00K                    8
1.67M                      8
43K                        8
62.00K                     8
68.00K                     8
35M                        8
.17M                       8
9.80M                      8
340.00K                    8
230K                       8
58.00K                     8
1.99M                      8
320K                       8
83K                        8
330K                       8
47K                        8
16M                        8
57K                        8
63K                        8
17.00M                     8
.24M                       8
70M                        8
9.20M                      8
3.9M                       8
                       ...
.77M                       1
597K                       1
37.00M                     1
27.20M                     1
246K                       1
4.75K                      1
5090.00K                   1
458.00K                    1
66.00M                     1
459K                       1
726.00K                    1
12.09M                     1
5.41M                      1
374.00K                    1
4.74M                      1
990K                       1
181.00K                    1
242.80K                    1
0.01M                      1
10.70K                     1
478K                       1
11.16M                     1
7110.00K                   1
156.50K                    1
2.83M                      1
.4B                        1
220M                       1
0.52M                      1
840.00K                    1
6.60K                      1
553.00K                    1
547K                       1
254K                       1
738K                       1
3.8K                       1
68.61K                     1
322.2K                     1
3870.00K                   1
176K                       1
54.1K                      1
141K                       1
986.00K                    1
.16K                       1
118.00K                    1
18.50K                     1
21.5M                      1
7.98K                      1
1.95K                      1
21.30M                     1
969.19K                    1
0.06M                      1
63.70M                     1
5.99M                      1
89.5K                      1
145                        1
440M                       1
4.20K                      1
319.00K                    1
128.70M                    1
308K                       1
33.45M                     1
257.40K                    1
26.2M                      1
5.47M                      1
.70                        1
3.63M                      1
1.71M                      1
11.5K                      1
4.80M                      1
0.23M                      1
1.22M                      1
77.97M                     1
.51M                       1
2.82M                      1
1300.00K                   1
15.66M                     1
362K                       1
3.68M                      1
49.50K                     1
166.5M                     1
96.60M                     1
890.00K                    1
41.57M                     1
653.00K                    1
109K                       1
6.06M                      1
1.18M                      1
12.29M                     1
584.00K                    1
43.2M                      1
809K                       1
13.20K                     1
431.00K                    1
6.90M                      1
6.75M                      1
3.55M                      1
0.04M                      1
1.34B                      1
271K                       1
16.70M                     1
603.00K                    1
335K                       1
588.2K                     1
.68M                       1
710.00K                    1
17.8M                      1
598.00K                    1
.10                        1
166.00M                    1
365.55K                    1
355K                       1
16.6M                      1
10.25K                     1
3.99M                      1
988K                       1
5.20K                      1
4.69M                      1
22.14M                     1
3.1K                       1
146.5M                     1
167.50K                    1
471.00K                    1
413K                       1
552K                       1
17.80K                     1
885                        1
34.31M                     1
4.37M                      1
499.00K                    1
912K                       1
370K                       1
2.75B                      1
316.00K                    1
3.56M                      1
177K                       1
.19M                       1
39.6K                      1
882.00K                    1
.69M                       1
9.90M                      1
7500.00K                   1
3.81M                      1
44.5K                      1
973.00K                    1
161.10M                    1
21.75M                     1
413.5K                     1
3210.00K                   1
266                        1
5.91M                      1
23.7K                      1
233K                       1
7407.00K                   1
301.00K                    1
691K                       1
518K                       1
547M                       1
31.2M                      1
870K                       1
30.7M                      1
7000.00K                   1
213.30M                    1
43.50M                     1
31.74M                     1
10.1M                      1
252M                       1
432.00K                    1
33.5M                      1
27.80M                     1
11.70K                     1
.45K                       1
563K                       1
818.46K                    1
.18B                       1
131.00K                    1
581.00K                    1
73.00M                     1
3758.00K                   1
3.65M                      1
8.81M                      1
606K                       1
9.06M                      1
12.4M                      1
39M                        1
31.50K                     1
14.20M                     1
34.63M                     1
24.10M                     1

**Drop null values**

In [82]:
df = df.dropna()

**Clean the DAMAGE_PROPERTY column so that it only includes numbers**

In [83]:
damage = []

for row in df['DAMAGE_PROPERTY']:
    appended = False
    row = row.strip()
    
    for position in row:
        
        if len(row) > 1:
        
            if position == 'K':
                number = row.replace('K', '')
                number = float(number)
                number = number * 1000
                damage.append(number)
                appended = True
          
            if position == 'M':
                number = row.replace('M', '')
                number = float(number)
                number = number * 1000000
                damage.append(number)
                appended = True
            
            if position == 'h':
                number = row.replace('h', '')
                number = float(number)
                number = number * 100
                damage.append(number)
                appended = True
            
            if position == 'H':
                number = row.replace('H', '')
                number = float(number)
                number = number * 100
                damage.append(number)
                appended = True
            
            if position == 'B':
                number = row.replace('B', '')
                number = float(number)
                number = number * 1000000000
                damage.append(number)
                appended = True
    
    if row == '0':
        damage.append(0)
        appended = True
        
    if row == '00':
        damage.append(0)
        appended = True
    
    if row == '01':
        damage.append(1)
        appended = True
    
    if row == '02':
        damage.append(2)
        appended = True
        
    if row == '03':
        damage.append(3)
        appended = True
     
    if row == '04':
        damage.append(4)
        appended = True
    
    if row == '05':
        damage.append(5)
        appended = True
        
    if row == '06':
        damage.append(6)
        appended = True
        
    if row == '07':
        damage.append(7)
        appended = True
        
    if row == '08':
        damage.append(8)
        appended = True
        
    if row == '09':
        damage.append(9)
        appended = True
    
    if row == 'K':
        damage.append(0)
        appended = True
    
    if (len(row) == 1) & (type(row) == 'str'):
        damage.append(0)
        appended = True
    
    if appended == False:
        damage.append(row)

In [84]:
df['DAMAGE_PROPERTY'] = np.array(damage)

In [85]:
df['DAMAGE_PROPERTY'] = df['DAMAGE_PROPERTY'].astype(float).astype('int64')

**Clean the DAMAGE_CROPS column in the same manner**

In [86]:
damage = []

for row in df['DAMAGE_CROPS']:
    appended = False
    row = row.strip()
    
    for position in row:
        
        if len(row) > 1:
        
            if position == 'K':
                number = row.replace('K', '')
                number = float(number)
                number = number * 1000
                damage.append(number)
                appended = True
                
            if position == 'k':
                number = row.replace('k', '')
                number = float(number)
                number = number * 1000
                damage.append(number)
                appended = True
          
            if position == 'M':
                number = row.replace('M', '')
                number = float(number)
                number = number * 1000000
                damage.append(number)
                appended = True
            
            if position == 'h':
                number = row.replace('h', '')
                number = float(number)
                number = number * 100
                damage.append(number)
                appended = True
            
            if position == 'H':
                number = row.replace('H', '')
                number = float(number)
                number = number * 100
                damage.append(number)
                appended = True
            
            if position == 'B':
                number = row.replace('B', '')
                number = float(number)
                number = number * 1000000000
                damage.append(number)
                appended = True
                
            if position == 'T':
                number = row.replace('T', '')
                number = float(number)
                number = number * 1000000000000
                damage.append(number)
                appended = True

    
    if row == '0':
        damage.append(0)
        appended = True
        
    if row == '00':
        damage.append(0)
        appended = True
    
    if row == '01':
        damage.append(1)
        appended = True
    
    if row == '02':
        damage.append(2)
        appended = True
        
    if row == '03':
        damage.append(3)
        appended = True
     
    if row == '04':
        damage.append(4)
        appended = True
    
    if row == '05':
        damage.append(5)
        appended = True
        
    if row == '06':
        damage.append(6)
        appended = True
        
    if row == '07':
        damage.append(7)
        appended = True
        
    if row == '08':
        damage.append(8)
        appended = True
        
    if row == '09':
        damage.append(9)
        appended = True
    
    if row == 'K':
        damage.append(0)
        appended = True
        
    if row == 'M':
        damage.append(0)
        appended = True
        
    if row == '0?':
        damage.append(0)
        appended = True
    
    if (len(row) == 1) & (type(row) == 'str'):
        damage.append(0)
        appended = True
    
    if appended == False:
        damage.append(row)

In [87]:
df['DAMAGE_CROPS'] = np.array(damage).astype(float).astype('int64')

**Convert date to datetime format**

In [88]:
df['Date'] = pd.to_datetime(df['BEGIN_YEARMONTH'], format = '%Y%m')

In [89]:
del df['BEGIN_YEARMONTH']

**Write dataframe to csv file**

In [90]:
Storm_Events = df.copy()

In [91]:
Storm_Events.to_csv('Storm_Events.csv', index = False)

## Read in Gas data and Clean

**Read in data**

In [92]:
df = pd.read_csv('C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Gas/Gas.csv')

**Subset data to only include MGACD which represents motor gas usage**

In [93]:
df = df[df['MSN'] == 'MGACD']

**Delete irrelevant columns**

In [94]:
del df['Data_Status']
del df['MSN']

**Melt the year columns and place in single column**

In [95]:
df = pd.melt(frame = df, id_vars = 'State', var_name = 'Year', value_name = 'Gas')
df.head()

  State  Year   Gas
0    AK  1970  3.18
1    AL  1970  2.82
2    AR  1970  2.74
3    AZ  1970  2.80
4    CA  1970  2.80

**Fix year datatype and subset data to include years 1994 and over**

In [96]:
df['Year'] = df['Year'].astype(int)

In [97]:
df = df[df['Year'] >= 1994]

**Use the following reference document to convert dollars per million btu to dollars per gallon**

https://www.eia.gov/totalenergy/data/monthly/pdf/sec13_3.pdf
42 gallons in 1 barrel

1994 = 5.231
1995 = 5.218
1996 = 5.218
1997 = 5.215
1998 = 5.215
1999 = 5.213
2000 = 5.214
2001 = 5.214
2002 = 5.211
2003 = 5.203
2004 = 5.201
2005 = 5.198
2006 = 5.191
2007 = 5.155
2008 = 5.126
2009 = 5.101
2010 = 5.078
2011 = 5.068
2012 = 5.063
2013 = 5.062
2014 = 5.060
2015 = 5.060

In [98]:
year = np.arange(1994, 2016)
convert = np.array([5.231, 5.218, 5.218, 5.215, 5.215, 5.213, 5.214, 5.214, 5.211, 5.203, 5.201, 5.198, 5.191,
                    5.155, 5.126, 5.101, 5.078, 5.068, 5.063, 5.062, 5.060, 5.060])

In [99]:
conversion = []
for row in df['Year']:
    position = np.where(year == row)[0][0]
    conversion.append((convert[position]))

In [100]:
df['conversion'] = conversion

In [101]:
df['Gas_Per_Gallon'] = df['conversion'] * df['Gas'] / 42

In [102]:
df.head()

     State  Year    Gas  conversion  Gas_Per_Gallon
1248    AK  1994  10.50       5.231        1.307750
1249    AL  1994   8.59       5.231        1.069864
1250    AR  1994   8.62       5.231        1.073600
1251    AZ  1994   9.58       5.231        1.193166
1252    CA  1994   9.10       5.231        1.133383

**Delete irrelevant columns and fix column label**

In [103]:
del df['conversion']
del df['Gas']

In [104]:
df.rename(columns={'State':'State_Abbrev'}, inplace=True)

**Write to csv file**

In [105]:
Gas_Price = df.copy()

In [106]:
Gas_Price.to_csv('Gas_Price.csv', index = False)

## Read in Crime Data and Clean

**Load in data**

In [2]:
df = pd.read_csv('C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Crime/estimated_crimes.csv')

**Include only state aggregated data**

In [3]:
df = df[df['state_abbr'].notnull()]

**Fix column labels to match other datasets**

In [4]:
df.rename(columns={'year':'Year', 'state_abbr': 'State_Abbrev'}, inplace=True)

**Delete irrelevant column**

In [5]:
del df['caveats']

**Compare population for year 1995 to the population data for 1995**

In [6]:
df.head()

,Year,State_Abbrev,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
22,1995,AL,4253000,26894,475,1350,NaN,7900,17169,179294,43586,120967,14741
23,1996,AL,4273000,24159,444,1397,NaN,7124,15194,181803,42821,123350,15632
24,1997,AL,4319000,24379,426,1396,NaN,6931,15626,186809,43786,127616,15407
25,1998,AL,4352000,22286,354,1443,NaN,5698,14791,177779,41965,120943,14871
26,1999,AL,4369862,21421,345,1513,NaN,5297,14266,171398,38648,119616,13134

In [8]:
df[df['Year'] == 2013]

,Year,State_Abbrev,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
40,2013,AL,4833996,20834,346,1449,2055.0,4645,13788,161835,42410,108862,10563
62,2013,AK,737259,4709,34,657,925.0,623,3127,21211,2917,16599,1695
84,2013,AZ,6634997,27576,355,2344,3174.0,6656,17391,223294,48292,158036,16966
106,2013,AR,2958765,13705,158,1135,1490.0,2261,9796,106477,30369,70430,5678
128,2013,CA,38431393,154739,1746,7464,10324.0,53640,89029,1018907,232058,621557,165292
150,2013,CO,5272086,16099,174,2198,2963.0,3136,9826,139974,25075,102375,12524
172,2013,CT,3599341,9439,91,647,891.0,3551,4906,71274,12934,52099,6241
194,2013,DE,925240,4633,41,278,399.0,1233,2960,29001,6299,21347,1355
216,2013,DC,649111,8415,103,297,395.0,4082,3835,31097,3316,24547,3234
238,2013,FL,19600311,91993,972,4765,6767.0,23200,61054,607170,138915,433344,34911
260,2013,GA,9994759,37519,563,2022,2891.0,12704,21361,339808,83459,229190,27159
282,2013,HI,1408987,3585,32,366,508.0,934,2111,45266,7777,32928,4561
304,2013,ID,1612843,3471,29,516,674.0,220,2548,30230,6693,21999,1538
326,2013,IL,12890552,51956,722,3895,NaN,17733,28161,296048,59093,216059,20896
348,2013,IN,6570713,23627,357,1623,NaN,7114,13915,187472,42754,130534,14184
370,2013,IA,3092341,8443,41,873,NaN,937,6332,67976,15918,47803,4255
392,2013,KS,2895801,9928,117,1003,NaN,1339,7177,85704,17476,61557,6671
414,2013,KY,4399583,9280,172,951,NaN,3247,4215,104448,26331,72048,6069
436,2013,LA,4629284,24127,494,1248,NaN,5539,16331,165679,41214,115300,9165
458,2013,ME,1328702,1761,24,366,NaN,335,907,30454,6480,23063,911
480,2013,MD,5938737,28235,384,1179,NaN,10048,16124,157918,31950,112551,13417
502,2013,MA,6708874,27264,138,1722,NaN,6705,18118,137274,30716,97437,9121
524,2013,MI,9898193,44757,625,4506,NaN,10093,27254,230135,56256,149794,24085
546,2013,MN,5422060,12710,114,1453,NaN,3674,6908,131193,22713,100514,7966
568,2013,MS,2992206,8303,217,726,NaN,2413,4649,81548,24969,52192,4387
590,2013,MO,6044917,26216,369,1679,NaN,5486,18056,189655,38797,134514,16344
612,2013,MT,1014864,2924,23,382,NaN,217,2217,26195,4122,20192,1881
634,2013,NE,1868969,4949,56,621,NaN,1035,3011,49197,8945,35791,4461
656,2013,NV,2791494,16888,163,1090,NaN,5183,10060,79177,23047,46132,9998
678,2013,NH,1322616,2952,21,522,NaN,645,1708,30409,5283,24188,938
700,2013,NJ,8911502,25748,404,861,NaN,12084,12071,167634,35883,118005,13746
722,2013,NM,2086895,12990,123,1135,NaN,1832,9470,78958,21828,51146,5984
744,2013,NY,19695680,77563,644,2575,NaN,27241,46130,358603,56444,286676,15483
766,2013,NC,9848917,33587,463,1790,NaN,9275,21325,305631,90182,201043,14406
788,2013,ND,723857,1979,16,288,NaN,161,1447,15356,2979,10942,1435
810,2013,OH,11572005,33722,478,3594,NaN,14483,14370,338414,91090,227799,19525
832,2013,OK,3853118,17187,198,1715,NaN,3023,11652,126418,33512,81624,11282
854,2013,OR,3928068,9536,82,1000,NaN,2394,5596,125083,20808,94363,9912
876,2013,PA,12781296,42825,611,2728,NaN,14739,23680,263176,52000,197410,13766
898,2013,RI,1053354,2710,31,333,NaN,683,1547,25741,5621,17881,2239
920,2013,SC,4771929,24263,305,1739,NaN,3965,17760,173261,40930,119730,12601
942,2013,SD,845510,2733,18,454,NaN,156,2052,16274,3383,11955,936
964,2013,TN,6497269,38063,335,1904,NaN,7333,27895,207683,51334,144443,11906
986,2013,TX,26505637,108757,1140,7610,NaN,31810,65351,862289,191062,605440,65787
1008,2013,UT,2902787,6644,51,926,NaN,1247,3824,88334,13727,67115,7492
1030,2013,VT,626855,775,10,113,NaN,75,554,13882,3352,10193,337
1052,2013,VA,8270345,16355,320,1476,NaN,4574,9111,171558,26717,136215,8626
1074,2013,WA,6973742,20223,167,2072,NaN,5829,11623,259139,58487,172227,28425
1096,2013,WV,1853595,5657,62,367,NaN,653,4242,39929,9908,28055,1966
1118,2013,WI,5742953,16118,163,1308,NaN,4834,9285,125694,24358,93946,7390
1140,2013,WY,583223,1212,17,144,NaN,74,917,12809,1956,10275,578

In [112]:
Population[Population['Year'] == 1995].head()

    Year State_Abbrev  Population
51  1995           AK      604412
52  1995           AL     4296800
53  1995           AR     2535399
54  1995           AZ     4432499
55  1995           CA    31696582

**Population data does not match. Will use the Population's dataframe's values. Delete this population column and rape_revised so no redundant information**

In [113]:
del df['population']

In [114]:
del df['rape_revised']

**Write to csv file**

In [115]:
Crimes = df.copy()

In [116]:
Crimes.to_csv('Crimes.csv', index = False)

## Read in Drought data and Clean

**Load in data and subset for years 1994 and over**

In [117]:
df = pd.read_csv('C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Standard Precipitation Index (Pearson)/SPI_data.csv')

In [118]:
df = df[df['Year'] >= 1994]

**Delete useless column**

In [119]:
del df['fips']

**Melt month into one column**

In [120]:
df = pd.melt(frame = df, id_vars = ['state', 'county', 'Year'] , var_name = 'month', value_name = 'SPI')
df.head()

  state          county  Year month   SPI
0    AL  Autauga County  1994   Jan -0.52
1    AL  Autauga County  1995   Jan  0.15
2    AL  Autauga County  1996   Jan  0.95
3    AL  Autauga County  1997   Jan  0.65
4    AL  Autauga County  1998   Jan  1.01

**Create function to convert abbreviation to numbers and save to new column**

In [121]:
def monthToNum(x):

    extract = { 'Jan' : 1,
                'Feb' : 2,
                'Mar' : 3,
                'Apr' : 4,
                'May' : 5,
                'Jun' : 6,
                'Jul' : 7,
                'Aug' : 8,
                'Sep' : 9, 
                'Oct' : 10,
                'Nov' : 11,
                'Dec' : 12 }
    
    short_x =  x[:3]
    
    return extract[short_x]

In [122]:
df['Month'] = df['month'].apply(monthToNum)

In [123]:
del df['month']

**Group by state year and month and take average of SPI values**

In [124]:
SPI = df.groupby(['state', 'Year', 'Month']).mean()

SPI = pd.DataFrame(SPI.to_records())

**Rename column to match other datasets and save to file**

In [125]:
SPI.rename(columns={'state':'State'}, inplace=True)

In [126]:
SPI.to_csv('SPI.csv', index = False)

## Read Behaviorial Risk Factor Surveillance System data and Clean

**Define path where files are. The files are renamed to their respective years**

In [127]:
path = 'C:/Users/Skywind/Desktop/Backup2/Python/Springboard/project2/Behavioral Risk Factor Surveillance System'
XPTFiles = glob.glob(path + '/*.XPT')

**Years is a reference column for the years. The states is the reference column to append the right state based on the index of the numbers numpy array. The numbers corresponds to the states list in alphabetical order in according to the variable dictionary of the code book**

In [128]:
Years = [1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
         2011, 2012, 2013, 2014, 2015, 2016]

states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
          'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
          'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
          'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina',
          'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
          'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',
          'Wisconsin', 'Wyoming']  

numbers = np.array([1, 2, 4, 5, 6, 8, 9, 10, 12, 13, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26 ,27, 28, 29, 30, 31, 32, 33, 34,
           35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56])

In [129]:
i = 0
for file in XPTFiles:
    if i == 0:
        df = pd.read_sas(file, format = 'xport')
        df['Year'] = Years[i]
        
        #Subset data to only include these variables
        df = df.loc[:, ['_STATE', 'PHYSHLTH', 'MENTHLTH', 'Year']]
        
        #Do not include values such as virgin islands etc
        df = df[(df['_STATE'] != 11) & (df['_STATE'] != 15) & (df['_STATE'] != 72) & (df['_STATE'] != 78) & (df['_STATE'] != 66)]
        
        States = []
        for row in df['_STATE']:
            index = np.where(numbers == row)[0][0]
            States.append(states[index])
       
        df['State'] = States
        
        del df['_STATE']
        
        #Subset data to ignore "refuse to answer" or "don't know"
        df = df[(df['MENTHLTH'] <= 30) & (df['PHYSHLTH'] <= 30)]
        
        #Aggregate by mean and group by Year and State
        df = df.groupby(['Year', 'State']).mean()
        df = pd.DataFrame(df.to_records())
        
        i += 1
        continue
    
    df2 = pd.read_sas(file, format = 'xport')
    df2['Year'] = Years[i]
    
    df2 = df2.loc[:, ['_STATE', 'PHYSHLTH', 'MENTHLTH', 'Year']]
    
    df2 = df2[(df2['_STATE'] != 11) & (df2['_STATE'] != 15) & (df2['_STATE'] != 72) & (df2['_STATE'] != 78) & (df2['_STATE'] != 66)]
    
    States = []
    for row in df2['_STATE']:
        index = np.where(numbers == row)[0][0]
        States.append(states[index])
     
    df2['State'] = States
        
    del df2['_STATE']
        
    df2 = df2[(df2['MENTHLTH'] <= 30) & (df2['PHYSHLTH'] <= 30)]
    
    df2 = df2.groupby(['Year', 'State']).mean()
    df2 = pd.DataFrame(df2.to_records())
    
    df = pd.concat([df, df2])
    i += 1

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 0 to 48
Data columns (total 4 columns):
Year        1098 non-null int32
State       1098 non-null object
PHYSHLTH    1098 non-null float64
MENTHLTH    1098 non-null float64
dtypes: float64(2), int32(1), object(1)
memory usage: 38.6+ KB

In [131]:
df.head()

   Year       State   PHYSHLTH   MENTHLTH
0  1994     Alabama  13.255814  13.930233
1  1994      Alaska   8.027132   9.430233
2  1994     Arizona  10.468468  10.387387
3  1994    Arkansas  11.447489  11.703196
4  1994  California   9.182464   9.693128

**Save to csv file**

In [132]:
Health = df.copy()

In [133]:
Health.to_csv('Health.csv', index = False)