In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Skywind/Desktop/Python/edX - Course 1/Video_Games_Sales_as_at_22_Dec_2016.csv')

# Inspect the data and clean:

In [3]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

***From here we note that the game with the highest global_sales up to 2016 was Wii Sports.***

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Name               16717 non-null object
Platform           16719 non-null object
Year_of_Release    16450 non-null float64
Genre              16717 non-null object
Publisher          16665 non-null object
NA_Sales           16719 non-null float64
EU_Sales           16719 non-null float64
JP_Sales           16719 non-null float64
Other_Sales        16719 non-null float64
Global_Sales       16719 non-null float64
Critic_Score       8137 non-null float64
Critic_Count       8137 non-null float64
User_Score         10015 non-null object
User_Count         7590 non-null float64
Developer          10096 non-null object
Rating             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

***We see that there are null values for some of the columns. Will drop all null values and consider only complete cases for the purpose of this analysis. Since we are not interested in the regional sales columns, let us first make sure that the null values we are removing are not part of those columns.***

In [5]:
sum(df['NA_Sales'].isna())

0

In [6]:
sum(df['EU_Sales'].isna())

0

In [7]:
sum(df['JP_Sales'].isna())

0

In [8]:
sum(df['Other_Sales'].isna())

0

***This means that the null values are coming from the columns we want to use as predictors. Since this is the case, we want to remove those and only consider complete cases for our question***

In [9]:
df_complete = df.dropna()

In [10]:
df_complete.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,2007.436777,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,174.722344
std,4.211248,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,587.428538
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2004.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,11.000000
50%,2007.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,27.000000
75%,2011.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,89.000000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [11]:
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 0 to 16706
Data columns (total 16 columns):
Name               6825 non-null object
Platform           6825 non-null object
Year_of_Release    6825 non-null float64
Genre              6825 non-null object
Publisher          6825 non-null object
NA_Sales           6825 non-null float64
EU_Sales           6825 non-null float64
JP_Sales           6825 non-null float64
Other_Sales        6825 non-null float64
Global_Sales       6825 non-null float64
Critic_Score       6825 non-null float64
Critic_Count       6825 non-null float64
User_Score         6825 non-null object
User_Count         6825 non-null float64
Developer          6825 non-null object
Rating             6825 non-null object
dtypes: float64(9), object(7)
memory usage: 906.4+ KB

***We see that User_Score is incorrectly an object instead of a float64 value. Since it is a numerical value it should be a float64 type. Need to change this***

***All Objects except Name should be categories.***

In [12]:
df2 = df_complete.copy()

In [13]:
df2['User_Score'] = df_complete['User_Score'].astype(float)
df2['Platform'] = df_complete['Platform'].astype('category')
df2['Genre'] = df_complete['Genre'].astype('category')
df2['Rating'] = df_complete['Rating'].astype('category')
df2['Publisher'] = df_complete['Publisher'].astype('category')

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 0 to 16706
Data columns (total 16 columns):
Name               6825 non-null object
Platform           6825 non-null category
Year_of_Release    6825 non-null float64
Genre              6825 non-null category
Publisher          6825 non-null category
NA_Sales           6825 non-null float64
EU_Sales           6825 non-null float64
JP_Sales           6825 non-null float64
Other_Sales        6825 non-null float64
Global_Sales       6825 non-null float64
Critic_Score       6825 non-null float64
Critic_Count       6825 non-null float64
User_Score         6825 non-null float64
User_Count         6825 non-null float64
Developer          6825 non-null object
Rating             6825 non-null category
dtypes: category(4), float64(10), object(2)
memory usage: 740.1+ KB

In [15]:
df2['Platform'].value_counts()

PS2     1140
X360     858
PS3      769
PC       651
XB       565
Wii      479
DS       464
PSP      390
GC       348
PS4      239
GBA      237
XOne     159
3DS      155
PS       150
PSV      118
WiiU      89
DC        14
Name: Platform, dtype: int64

***DC(Dreamcast) has a low sample size. I'll combine this with the WiiU category and rename it to 'Other'.***

In [16]:
df2['Platform'] = df['Platform'].replace({'WiiU' : 'Other', 'DC' : 'Other'})

In [17]:
df2['Platform'].value_counts()

PS2      1140
X360      858
PS3       769
PC        651
XB        565
Wii       479
DS        464
PSP       390
GC        348
PS4       239
GBA       237
XOne      159
3DS       155
PS        150
PSV       118
Other     103
Name: Platform, dtype: int64

In [18]:
df2['Genre'].value_counts()

Action          1630
Sports           943
Shooter          864
Role-Playing     712
Racing           581
Platform         403
Misc             384
Fighting         378
Simulation       297
Strategy         267
Adventure        248
Puzzle           118
Name: Genre, dtype: int64

***All categories are appropriate here.***

In [19]:
df2['Publisher'].value_counts().head(50)

Electronic Arts                           944
Ubisoft                                   496
Activision                                492
Sony Computer Entertainment               316
THQ                                       307
Nintendo                                  291
Sega                                      284
Take-Two Interactive                      273
Konami Digital Entertainment              244
Namco Bandai Games                        239
Capcom                                    197
Atari                                     176
Microsoft Game Studios                    141
Tecmo Koei                                137
Square Enix                               134
Warner Bros. Interactive Entertainment    130
Eidos Interactive                         123
Vivendi Games                             113
Codemasters                               111
Midway Games                              103
505 Games                                  80
Deep Silver                                76
Disney Interactive Studios                 74
LucasArts                                  70
Acclaim Entertainment                      66
Nippon Ichi Software                       60
Rising Star Games                          52
Bethesda Softworks                         46
D3Publisher                                35
Focus Home Interactive                     31
Ignition Entertainment                     30
Empire Interactive                         27
Atlus                                      25
Zoo Digital Publishing                     24
Unknown                                    24
Majesco Entertainment                      23
Kalypso Media                              22
PQube                                      22
SouthPeak Games                            21
TDK Mediactive                             21
Global Star                                20
Virgin Interactive                         19
Universal Interactive                      18
MTV Games                                  16
3DO                                        15
Infogrames                                 14
Paradox Interactive                        13
Ubisoft Annecy                             12
DTP Entertainment                          12
Crave Entertainment                        11
Name: Publisher, dtype: int64

***There are too many categories here. I will combine everything from Empire Interactive and under into an 'Other' category.***

In [20]:
Publisher = []
Main = ['Electronic Arts', 'Ubisoft', 'Activision', 'Sony Computer Entertainment', 'THQ', 'Nintendo', 'Sega', 'Take-Two Interactive',
       'Konami Digital Entertainment', 'Namco Bandai Games', 'Capcom', 'Atari', 'Microsoft Game Studios', 'Tecmo Koei', 'Square Enix',
       'Warner Bros. Interactive Entertainment', 'Eidos Interactive', 'Vivendi Games', 'Codemasters', 'Midway Games', '505 Games',
       'Deep Silver', 'Disney Interactive Studios', 'LucasArts', 'Acclaim Entertainment', 'Nippon Ichi Software', 'Rising Star Games',
       'Bethesda Softworks', 'D3Publisher', 'Focus Home Interactive', 'Ignition Entertainment']

for publisher in df2['Publisher']:
    if publisher in Main:
        Publisher.append(publisher)
    else:
        Publisher.append('Other')

df2['Publisher'] = Publisher
df2['Publisher'].value_counts()

Other                                     954
Electronic Arts                           944
Ubisoft                                   496
Activision                                492
Sony Computer Entertainment               316
THQ                                       307
Nintendo                                  291
Sega                                      284
Take-Two Interactive                      273
Konami Digital Entertainment              244
Namco Bandai Games                        239
Capcom                                    197
Atari                                     176
Microsoft Game Studios                    141
Tecmo Koei                                137
Square Enix                               134
Warner Bros. Interactive Entertainment    130
Eidos Interactive                         123
Vivendi Games                             113
Codemasters                               111
Midway Games                              103
505 Games                                  80
Deep Silver                                76
Disney Interactive Studios                 74
LucasArts                                  70
Acclaim Entertainment                      66
Nippon Ichi Software                       60
Rising Star Games                          52
Bethesda Softworks                         46
D3Publisher                                35
Focus Home Interactive                     31
Ignition Entertainment                     30
Name: Publisher, dtype: int64

In [21]:
df2['Developer'].value_counts().head(51)

EA Canada                         149
EA Sports                         142
Capcom                            126
Ubisoft                           103
Konami                             95
Ubisoft Montreal                   87
EA Tiburon                         82
Omega Force                        69
Visual Concepts                    68
Nintendo                           68
Electronic Arts                    67
Traveller's Tales                  59
Codemasters                        57
Vicarious Visions                  57
Namco                              55
Yuke's                             48
TT Games                           43
Maxis                              42
Neversoft Entertainment            42
Midway                             42
From Software                      41
Treyarch                           41
Eurocom Entertainment Software     40
Square Enix                        39
Sonic Team                         35
TOSE                               34
Radical Entertainment              33
Arc System Works                   32
Sega                               32
Rebellion                          30
High Voltage Software              30
Artificial Mind and Movement       29
Harmonix Music Systems             28
Koei                               27
Climax Group                       26
Gearbox Software                   26
SCEA San Diego Studios             25
Rainbow Studios                    25
KCET                               24
Criterion Games                    24
EA Games                           24
EA DICE                            24
Krome Studios                      24
Acclaim                            23
Ubisoft Shanghai                   23
Griptonite Games                   23
BioWare                            22
CyberConnect2                      22
Exient Entertainment               22
Team 17                            21
LucasArts                          21
Name: Developer, dtype: int64

***There are too many categories here as well. Will include the first 50 categories. Will throw the other ones into the 'Other' Category***

In [22]:
Developer = []
Main = ['EA Canada', 'EA Sports', 'Capcom', 'Ubisoft', 'Konami', 'Ubisoft Montreal', 'EA Tiburon', 'Omega Force', 'Visual Concepts',
       'Nintendo', 'Electronic Arts', "Traveller's Tales", 'Vicarious Visions', 'Codemasters', 'Namco', "Yuke's", 'TT Games',
       'Maxis', 'Neversoft Entertainment', 'Midway', 'Treyarch', 'From Software', 'Eurocom Entertainment Software', 'Square Enix',
       'Sonic Team', 'TOSE', 'Radical Entertainment', 'Sega', 'Arc System Works', 'Rebellion', 'High Voltage Software',
       'Artificial Mind and Movement', 'Harmonix Music Systems', 'Koei', 'Climax Group', 'Gearbox Software', 'SCEA San Diego Studios',
       'Rainbow Studios', 'KCET', 'EA DICE', 'EA Games', 'Krome Studios', 'Criterion Games', 'Griptonite Games', 'Acclaim', 
       'Ubisoft Shanghai', 'CyberConnect2', 'BioWare', 'Exient Entertainment', 'Volition Inc.']

for developer in df2['Developer']:
    if developer in Main:
        Developer.append(developer)
    else:
        Developer.append('Other')

df2['Developer'] = Developer
df2['Developer'].value_counts()

Other                             4475
EA Canada                          149
EA Sports                          142
Capcom                             126
Ubisoft                            103
Konami                              95
Ubisoft Montreal                    87
EA Tiburon                          82
Omega Force                         69
Visual Concepts                     68
Nintendo                            68
Electronic Arts                     67
Traveller's Tales                   59
Codemasters                         57
Vicarious Visions                   57
Namco                               55
Yuke's                              48
TT Games                            43
Maxis                               42
Neversoft Entertainment             42
Midway                              42
From Software                       41
Treyarch                            41
Eurocom Entertainment Software      40
Square Enix                         39
Sonic Team                          35
TOSE                                34
Radical Entertainment               33
Sega                                32
Arc System Works                    32
High Voltage Software               30
Rebellion                           30
Artificial Mind and Movement        29
Harmonix Music Systems              28
Koei                                27
Climax Group                        26
Gearbox Software                    26
SCEA San Diego Studios              25
Rainbow Studios                     25
KCET                                24
Criterion Games                     24
EA Games                            24
Krome Studios                       24
EA DICE                             24
Ubisoft Shanghai                    23
Acclaim                             23
Griptonite Games                    23
Exient Entertainment                22
CyberConnect2                       22
BioWare                             22
Volition Inc.                       21
Name: Developer, dtype: int64

***It could be interesting to know if the publisher was the same as the developer. Will create a new column for that.***

***First reset the index.***

In [23]:
df2 = df2.reset_index()

In [24]:
del df2['index']

In [25]:
Dev_same_publisher = []

for row in range(0, len(df2)):
    if (df2.loc[row, 'Publisher'] == df2.loc[row, 'Developer']):
        Dev_same_publisher.append(1)
    else:
        Dev_same_publisher.append(0)

df3 = df2.copy()
df3['Dev_same_publisher'] = Dev_same_publisher

In [26]:
df3['Dev_same_publisher'].value_counts()

0    5520
1    1305
Name: Dev_same_publisher, dtype: int64

In [27]:
df3['Rating'].value_counts()

T       2377
E       2082
M       1433
E10+     930
RP         1
K-A        1
AO         1
Name: Rating, dtype: int64

***K-A is Kids to adults which is the same as E for everyone. Will throw K-A with E. RP is Rating Pending, will also combine with T the most populated category.***

In [28]:
df3['Rating'] = df3['Rating'].replace({'K-A' : 'E', 'RP' : 'T'})

In [29]:
df3[df3['Rating'] == 'AO']

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Dev_same_publisher
578,Grand Theft Auto: San Andreas,XB,2005.0,Action,Take-Two Interactive,1.26,0.61,0.0,0.09,1.95,93.0,58.0,8.6,118.0,Other,AO,0

***Will throw this title in with the M for Mature category. This title was originally released as as M with a controvesial scene added later. For the purposes of this analysis better to combine with M.***

In [30]:
df3['Rating'] = df3['Rating'].replace({'AO' : 'M'})

In [31]:
df3['Rating'].value_counts()

T       2378
E       2083
M       1434
E10+     930
Name: Rating, dtype: int64

***Examine the data again.***

In [32]:
df3.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Dev_same_publisher
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,2007.436777,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,7.185626,174.722344,0.191209
std,4.211248,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,1.439942,587.428538,0.393282
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.500000,4.000000,0.000000
25%,2004.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,6.500000,11.000000,0.000000
50%,2007.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,7.500000,27.000000,0.000000
75%,2011.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,8.200000,89.000000,0.000000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,9.600000,10665.000000,1.000000

***We see that the minimum critic count and user count are 3 and 4 respectively. Check how many there are:***

In [33]:
len(df3[(df3['Critic_Count'] < 10) | (df3['User_Count'] < 10)])

1954

***There are 1954 rows where this occurs. I will not remove these rows since there are so many. Since we are including both the critic rating and user rating, it's okay to leave the low number of votes in the data because we also have those as possible predictors.***

***Instead of year_of_release, it can be more useful to know how long the game has been out. Since the data is collected at the end of 2016, I will assume any game released in 2016 has been out for a year. 2015 for 2 years, etc.***

In [34]:
Years_since_release = []

for year in df3['Year_of_Release']:
    value_to_add = 2017 - year
    Years_since_release.append(value_to_add)

df3['Years_Since_Release'] = Years_since_release

***Create a column for if a game is good. Will assign the value 1 if the User_Score >= 8.***

In [35]:
Good = []

for rating in df3['User_Score']:
    if rating < 8:
        Good.append(0)
    else:
        Good.append(1)

df3['Good'] = Good
df3.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Dev_same_publisher,Years_Since_Release,Good
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,1,11.0,1
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,1,9.0,1
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,1,8.0,1
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E,1,11.0,1
4,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E,1,11.0,0

In [36]:
#Save clean data to file
df3.to_csv('Project_1_Clean.csv')